@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-espresso-clay: #5b4c3a;
  --color-earth-brown: #8a7356;
  --color-mushroom-beige: #c4b39a;
  --color-warm-putty: #ded1ba;
  --color-bone-white: #f4efe6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bone-white);
  color: var(--color-espresso-clay);
  font-family: var(--font-iranyekan), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ===========slider custome dots================ */
.slick-dots {
  bottom: -45px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #cbd5e1;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #111827;
  font-size: 12px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
