@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-espresso-clay: #5b4c3a;
  --color-earth-brown: #8a7356;
  --color-mushroom-beige: #c4b39a;
  --color-warm-putty: #ded1ba;
  --color-bone-white: #f4efe6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bone-white);
  color: var(--color-espresso-clay);
  font-family: var(--font-iranyekan), sans-serif;
}
